/*importa a fonte monstserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');
/*importa a fonte irish grober*/
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    min-height: 1000px;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    background-color: #F2EBEC;
    margin: 4% 4%;
    border: 1px solid #F2D5D8;
    border-radius: 24px;

    padding-bottom: 4%;
}

.title {
    background-color: #F2D5D8;
    padding: 1% 2%;
    border-radius: 24px;

    font-size: 48px;
    font-weight: 700;
}

.infos {
    padding: 2% 4%;
}

.profile-data {
    display: flex;
    justify-content: space-between;

    font-size: 48px;

    padding-top: 2%;
}

.profile-data > img {
    border-radius: 50%;
    max-width: 30%;
    height: auto;
}

.profile-data > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}

.profile-data > div > a {
    font-size: 40px;
    font-weight: 400;
}

.edit-profile {
    color: #3D68FE;
}

.delete-profile {
    color: #FF0000;
}

.pets,
.about-me,
.services {
    padding: 0% 8%;

    display: flex;
    flex-direction: column;
}

.pets > h1,
.about-me > h1,
.services > h1 {
    font-size: 48px;
    font-weight: 700;
}

.pets > button,
.services > button {
    background-color: #F2D5D8;

    font-size: 40px;
    font-weight: 400;

    padding: 1%;

    border: 1px solid black;

    align-self: flex-end;
    margin-top: 1rem;
}

.about-me > p {
    font-size: 32px;
}

.list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}

list > div {
    flex: 1 1 30%;
    max-width: 100%;
    box-sizing: border-box;
}

.list > div > img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 250px;
}

@media (max-width: 768px) {
    .list > div {
        flex: 1 1 45%;
    }
}

@media (max-width: 480px) {
    .list {
        flex-direction: column;
        align-items: center;
    }

    .list > div {
        flex: 1 1 100%;
    }
}

.list > div > p {
    font-size: 2vw;
    font-weight: 400;
}

.line {
    border-top: 2px solid #734D54;
    margin: 4% 4%;
}