/*importa a fonte monstserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');
/*importa a fonte irish grober*/
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    min-height: 1000px;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 85%;
    background-color: #F2EBEC;
    margin-left: 7%;
    margin-top: 5%;
    border: 1px solid #F2D5D8;
    border-radius: 24px;
    padding-bottom: 4%;
    border: 0.5px solid black;

}

.title {
    background-color: #F2D5D8;
    padding: 1% 2%;
    border-radius: 24px;
    border: 0.5px solid black;
    font-size: 35px;
    font-weight: 700;
}

.infos {
    padding: 2% 4%;
}
.profile-data {
    display: flex;
    justify-content: space-between;

    font-size: 30px;

    padding-top: 2%;
}

.profile-data > img {
    border-radius: 50%;
    border: 1px solid black;
    max-width: 25%;
    height: auto;
}

.profile-data > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}

.profile-data > div > a {
    font-size: 23px;
    font-weight: 400;
}

.edit-profile {
    color: #3D68FE;
}
.delete-profile {
    color: #FF0000;
}

.pets{
    display: flex;
    flex-direction: column;

}


.about-me,
.services {
    padding: 0% 8%;
    display: flex;
    flex-direction: column;
}

.pet-info > h1,
.about-me > h1,
.services > h1 {
    font-size: 48px;
    font-weight: 700;
}
.pets > button,
.services > button {
    background-color: #F2D5D8;

    font-size: 25px;
    font-weight: 400;

    padding: 1%;

    border: 1px solid black;

    align-self: flex-end;
    margin-right: 5rem;
    margin-top: 1rem;
}


.about-me > p {
    font-size: 32px;
}


.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
}

.list img {
    width: 27rem;
    height: auto;
}


.line {
    border-top: 2px solid #734D54;
    margin: 4% 4%;
}











/* 
.pet-cards img {
    border-radius: 50%;
    width: 27rem;
    height: auto;
    border: 1px solid black;
}

.pet-info  p {
    font-size: 20px;
    font-weight: 400;
}

.pet-cards{
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    
}

.pets-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
} */