<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Stay Pawsitive
        </title>
        <link rel="stylesheet" href="../css/cadastro.css">
        <link rel="shortcut icon" href="../Logo.ico" type="paw-icon">
    </head>


    <body>
        <div class="container">



            <div class="header">
                
                <!--Logo e nome da marca-->
                <div class="brand">
                    
                    <a href="../index.html" style="text-decoration: none;"><img src="../images/Logo.png" alt="logo" style="height: 80px;"></a>
                    <a href="../index.html" style="text-decoration: none;"><h1>Stay<br>&nbsp;&nbsp;Pawsitive</h1></a>
                </div>

                <p>Como funciona</p>

                <a href="login.html">Cadastrar | Login</a>

                <!--Logo insta-->
                <img src="../images/Instagram.png" alt="instagram-logo" style="width: auto; height: 55%;">
            
            </div>

            <img src="../images/imgbin_dog-paw-png 1.png" id="dogpaw" style="top: 84%; left: 4%;">
            <img src="../images/imgbin_dog-paw-png 1.png" id="dogpaw" style="top: 19%; left: 77%;">
            <img src="../images/imgbin_dog-paw-png 1.png" id="dogpaw" style="top: 155%; left: 83%;">

            <div class="login-container">


                <div class="welcome">
                    <h1 style="margin-left: 40px;">Venha fazer parte da nossa comunidade!</h1>
                    <img src="../images/dogFeliz.png" alt="cachorro-construtor">
                </div>

                <div class="registration">
                    <div class="usuario">
                        <p>usuário</p>
                        <div class="usuario-box"></div>
                    </div>

                    <div class="nomecompleto">
                        <p>nomecompleto</p>
                        <div class="nomecompleto-box"></div>
                    </div>
                    
                    <div class="senha">
                        <p>senha</p>
                        <div class="senha-box"></div>
                    </div>

                    <div class="telefone">
                        <p>telefone</p>
                        <div class="telefone-box"></div>
                    </div>

                    <div class="email">
                        <p>email</p>
                        <div class="email-box"></div>
                    </div>

                    <div class="datanascimento">
                        <p>datanascimento</p>
                        <div class="datanascimento-box"></div>
                    </div>

                    <div class="endereco">
                        <p>endereco</p>
                        <div class="endereco-box"></div>
                    </div>

                    <div class="cpf">
                        <p>cpf</p>
                        <div class="cpf-box"></div>
                    </div>

                </div>
            </div>


           
        </div>
    </body>
</html>
