<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Stay Pawsitive
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'index.css') }}">
        <link rel="shortcut icon" href="Logo.ico" type="paw-icon">
    </head>


    <body>
        <div class="container"> 



            <div class="header">
                
                <!--Logo e nome da marca-->
                <div class="brand">
                    <img src="../static/images/Logo.png" alt="logo" style="height: 80px;">
                    <h1>Stay<br>&nbsp;&nbsp;Pawsitive</h1>
                </div>

                <p>Como funciona</p>

                <a href="{{ url_for('login') }}">Cadastrar | Login</a>

                <!--Logo insta-->
                <img src="/static/images/Instagram.png" alt="instagram-logo" style="width: auto; height: 55%;">
            
            </div>





            <!--Imagem inicial com o slogan-->
            <div class="ilustration">
                <h1>Fique Pawsitivo: Com um gesto, faça uma patinha feliz.</h1>
                <img src = "/static/images/side-view-owner-walking-with-dog.jpg" id="slogan-image"/>
            </div>


            <!--Seção dos serviços-->
            <div class="info">
                <h1>Precisando de ajuda?</h1>
                <div class="info-services">
                    <div class="hospedagem">
                        <img src="/static/images/hospedando cachorro.png" alt="hospedando-cachorro">
                        <h2>Hospede seu pet!</h2>
                    </div>
                    <div class="passeio">
                        <img src="/static/images/passeioCachorro.png" alt="passeioCachorro">
                        <h2>E que tal um passeio?</h2>
                    </div>
                </div>
            </div>




            <!--Seção de informações gerais-->
            <div class="sobre">
                <div class="sobre-conteudo">
                    <h1>Porque nos importamos com o bem estar animal</h1>
                    <div class="container-conteudo">
                        
                        <div class="conteudo1">
                            <img src="/static/images/dog spa.png" alt="">
                            <h2>"Promover o bem-estar animal é fortalecer laços de afeto e responsabilidade, garantindo que nossos companheiros de quatro patas recebam o cuidado e o carinho que merecem</h2>
                        </div>
                        <div class="conteudo2">
                            <img src="/static/images/dogspa 1.png" alt="">
                            <h2>O bem-estar é vital para a saúde do cão: reduz o estresse, fortalece o sistema imunológico e promove uma vida mais longa e feliz.</h2>
                        </div>
                        
                    </div>
                </div>
                <img src="/static/images/imgbin_dog-paw-png 1.png" alt="dogpaw" style="width: 350px; height: 391px; position: absolute; left: 73%;">
            </div>

            <div class="footer"></div>
        </div>
    </body>
</html>
