<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Stay Pawsitive
        </title>
        <link rel="stylesheet" href="../css/login.css">
        <link rel="shortcut icon" href="../Logo.ico" type="paw-icon">
    </head>


    <body>
        <div class="container">



            <div class="header">
                
                <!--Logo e nome da marca-->
                <div class="brand">
                    
                    <a href="../index.html" style="text-decoration: none;"><img src="../images/Logo.png" alt="logo" style="height: 80px;"></a>
                    <a href="../index.html" style="text-decoration: none;"><h1>Stay<br>&nbsp;&nbsp;Pawsitive</h1></a>
                </div>

                <p>Como funciona</p>

                <a href="login.html">Cadastrar | Login</a>

                <!--Logo insta-->
                <img src="../images/Instagram.png" alt="instagram-logo" style="width: auto; height: 55%;">
            
            </div>

            <img src="../images/imgbin_dog-paw-png 1.png" id="dogpaw" style="top: 84%; left: 7%;">
            <img src="../images/imgbin_dog-paw-png 1.png" id="dogpaw" style="top: 19%; left: 77%;">

            <div class="login-container">


                <div class="welcome">
                    <h1>Bem Vindo!</h1>
                    <img src="../images/cachorroConstrutor2 1.png" alt="cachorro-construtor" style="height: 68%;">
                </div>

                <div class="registration">
                    <div class="email-field">
                        <p>email</p>
                    </div>
                    <div class="password-field">
                        <p>senha</p>
                    </div>
                    <p>Esqueci a senha</p>
                    <div class="continuar-button">
                        <p>Continuar</p>
                    </div>
                    <div class="fazer-cadastro-button">
                        <p>Fazer Cadastro</p>
                    </div>

                </div>
            </div>


           
        </div>
    </body>
</html>
