<!doctype html>
<html>
    <head>
        <title>Stay Pawsitive - {{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/{{title}}.css') }}"> -->
    </head>
    <body>
        <div class="header">
            <div class="brand">
                <a href="{{ url_for('index') }}" style="text-decoration: none;"><img src="{{ url_for('static', filename='images/Logo.png') }}" alt="logo"></a>
            </div>

            <p>Como funciona</p>

            <div class="right">
                <div>
                    <a href="{{ url_for('index') }}">Home</a>
                    <!-- {% if current_user.is_anonymous %} -->
                    <a href="{{ url_for('login') }}">Login</a>
                    <!-- {% else %} -->
                    <a href="{{ url_for('logout') }}">Logout</a>
                    <!-- {% endif %} -->
                </div>
                <a href="https://www.instagram.com/staypawsitive99/">
                    <img src="{{ url_for('static', filename='images/Instagram.png') }}" alt="instagram-logo">
                </a>
            </div>
        </div> 
    </body>
</html>