<!doctype html>
<html>
    <head>
        {% block head %}
        <title>Stay Pawsitive - {{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
        {% endblock head %}
    </head>
    <body>
        <div class="header">
                
            <!--Logo e nome da marca-->
            <div class="brand">
                <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="logo" style="height: 80px;">
                </a>
                <a href="{{ url_for('index') }}" style="text-decoration: none;">
                <h1>Stay<br>&nbsp;&nbsp;Pawsitive</h1>
                </a>
            </div>

            
            
            <div class="right">
                <div>
                    <a href="{{ url_for('index') }}">Como funciona</a>
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Login</a>
                    {% else %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                    <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                    <a href ="{{url_for('services')}}"">Serviços Disponíveis</a>
                    {% endif %}
                </div>
                            <!--Logo insta-->
            <a href="https://www.instagram.com/staypawsitive99/">
                <img src="{{ url_for('static', filename='images/Instagram.png') }}" alt="instagram-logo">
            </a>
            
                </a>
            </div>
        </div>
        {% block content %}{% endblock content %}
    </body>
</html>