{% extends "base.html" %}

{% block content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1>Cadastrar Passeio</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.max_pets.label }}<br>
            {{ form.max_pets(size=32) }}<br>
            {% for error in form.max_pets.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.date.label }}<br>
            {{ form.date}}<br>
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.start_hour.label }}<br>
            {{ form.start_hour() }}<br>
            {% for error in form.start_hour.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.end_hour.label }}<br>
            {{ form.end_hour() }}<br>
            {% for error in form.end_hour.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}