{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='styles/register.css')}}">
{% endblock head %}

{% block content %}
    <img src="{{url_for('static', filename='images/imgbin_dog-paw-png 1.png')}}" id="dogpaw" style="top: 84%; left: 4%;">
    <img src="{{url_for('static', filename='images/imgbin_dog-paw-png 1.png')}}" id="dogpaw" style="top: 19%; left: 77%;">
    <img src="{{url_for('static', filename='images/imgbin_dog-paw-png 1.png')}}" id="dogpaw" style="top: 155%; left: 83%;">

    <div class="login-container">
        <div class="welcome">
            <h1 style="margin-left: 40px; font-size: 35px;">Venha fazer parte da nossa comunidade!</h1>
            <img src="{{url_for('static', filename='images/dogFeliz.png')}}" alt="cachorro-construtor" style="width: 90%;">
        </div>

        <div class="registration">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}

                <div class="form-group">
                    <label for="username">{{ form.username.label }}</label>
                    <div class="input-circle">
                        {{ form.username(size=32) }}
                    </div>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="name">{{ form.name.label }}</label>
                    <div class="input-circle">
                        {{ form.name(size=32) }}
                    </div>
                    {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="password">{{ form.password.label }}</label>
                    <div class="input-circle">
                        {{ form.password(size=32) }}
                    </div>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="password2">{{ form.password2.label }}</label>
                    <div class="input-circle">
                        {{ form.password2(size=32) }}
                    </div>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="email">{{ form.email.label }}</label>
                    <div class="input-circle">
                        {{ form.email(size=32) }}
                    </div>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="phone">{{ form.phone.label }}</label>
                    <div class="input-circle">
                        {{ form.phone(size=32) }}
                    </div>
                    {% for error in form.phone.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="birthdate">{{ form.birthdate.label }}</label>
                    <div class="input-circle">
                        {{ form.birthdate }}
                    </div>
                    {% for error in form.birthdate.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div class="form-group">
                    <label for="address">{{ form.address.label }}</label>
                    <div class="input-circle">
                        {{ form.address(size=32) }}
                    </div>
                    {% for error in form.address.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                
                <div class="form-group">
                    <label for="cpf">{{ form.cpf.label }}</label>
                    <div class="input-circle">
                        {{ form.cpf(size=32) }}
                    </div>
                    {% for error in form.cpf.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                
                <div class="submit-button">
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}